<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocaLabs.Http.Client" version="3.0.0.0" targetFramework="wp80" />
  <package id="DocaLabs.Http.Client.with.NewtonSoft.Json.Serializer" version="3.0.0.0" targetFramework="wp80" />
  <package id="Enough.AsyncLock" version="2.0.0" targetFramework="phone80" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wp80" />
  <package id="MiLight.Net.Commands" version="1.0.1" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="wp80" />
  <package id="OpenWebClient.Source" version="2.0.0" targetFramework="phone80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="phone80" />
</packages>